* {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

#input-area {
    width: 90%;
    margin: 30px auto ;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

/* input枠全てのサイズ調整 */
input {
    width: 450px;
    display: block;
    padding: 20px 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    height: 20px;
}

.button-area {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.button-area button {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    height: 60px;
    text-align: center;
    display: block;
    font-size: 20px;
}

#list {
    width: 90%;
    margin: 50px auto;
}

#list li {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px
}
