body{
    background-color:#F0F4F9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    width: 40%;
    font-size: 30px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    margin: 30px auto;
    background-color: white;
    line-height: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}

#input-area {
    margin: 20px auto ;
    padding: 15px;
    display: flex;
    justify-content: center;
    
}

.service,.brand,.target{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    padding: 25px;
}

.brand{
    margin: 0 20px;
}


.about-service,.about-brand,.about-target{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 350px;
    display: block;
    padding: 20px 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    height: 10px;
    border-radius: 10px;
}

.button-area {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.button-area button {
    border: 1px solid #ddd;
    border-radius: 5px;
    border-color: #555;
    width: 25%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    margin: 0 10px;
    background-color: #F0F4F9;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.button-area button:hover {
  background-color: cornflowerblue;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-color: cornflowerblue;
  color: white;
}

#list {
    width: 90%;
    margin: 50px auto;
}

#list li {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px
}

#makeprompt {
   background-color: orange;
   color:white;
   border-color:white ;
}

.prompt-area{
    width: 50%;
    height: 300px;
    margin: 30px auto ;
    padding: 15px;
    border: 1px solid;
    border-radius: 20px;
    border: solid #555;
    background-color: white;
}